@inherits LayoutComponentBase

<PageTitle>Finance</PageTitle>

<div class="page">
    <div style="background-image:none;background-color:orangered;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
